body {
  font-family: "Poppins", sans-serif;
}
.hero {
  max-width: 1200px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.text-center {
  text-align: center;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
.img-responsive {
  max-width: 500px;
}
section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 0;
}
section.secondary {
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/Ldn.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

header h1 {
  color: aliceblue;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
}
header h2 {
  color: aliceblue;
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
}
header h3 {
  color: aliceblue;
  font-style: normal;
  font-weight: 400;
  font-size: 20spx;
  letter-spacing: 5px;
}
header a {
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 14spx;
  line-height: 1.5;
  padding: 16px 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: aliceblue;
}
main {
  background-color: #183446;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main h2 {
  color: aliceblue;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.6;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-top: 20px;
}
main h3 {
  color: aliceblue;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  margin: 0;
}
main p {
  color: aliceblue;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  opacity: 0.6;
}
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/londoneye.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: aliceblue;
}
footer h3 {
  color: aliceblue;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}
footer p {
  color: aliceblue;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  opacity: 0.9;
}
ul {
  list-style-type: none;
}
footer a {
  color: aliceblue;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 17px;
  }
  header h3 {
    font-size: 12px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  .img-responsive {
    max-width: 250px;
  }
  section {
    padding: 30px;
  }
}
